<div class="p-3">
  <div class="flex row content-between">
    <div>
      <h5 class="p-0 mb-3">Feed Settings</h5>
    </div>
    <div>
      {{#link-to
        "index.feed.articles"
        activeClass=null
        tagName="button"
        classNames="btn btn-outline-secondary round"
      }}
        {{fa-icon "times" prefix="fas"}}
      {{/link-to}}
    </div>
  </div>

  <fieldset>
    <div class="form-group">
      <label for="name">Name</label>
      {{input
        type="text"
        id="name"
        value=model.name class="form-control"
        change=(action (route-action "updateFeed"))
      }}
    </div>

    <div class="row">
      <div class="form-group col">
        <label for="cleanup-days">Keep articles (days)</label>
        {{input
          value=model.settings.articles.keep
          class="form-control"
          type="number"
        }}
      </div>
      <div class="form-group col">
        <div class="custom-control custom-switch">
          {{input
            type="checkbox"
            classNames="custom-control-input"
            id="keep-unread"
            checked=model.settings.articles.cleanup.keepUnread
            change=(action (route-action "toggleKeepUnread"))
          }}
          <label for="keep-unread" class="custom-control-label">Keep unread during cleanup</label>
        </div>
      </div>
    </div>

    <fieldset>
      <label for="">Feed Url</label>
      {{input type="text" value=model.feedUrl classNames="form-control"}}
    </fieldset>
    <div class="mt-3">
      <button
        type="button"
        class="btn btn-secondary"
        {{action (route-action "updateFeed")}} disabled={{model.isSaving}}
      >
        Save
        {{#if model.isSaving}}
          <i class="fa fa-spinner"></i>
        {{/if}}
      </button>
    </div>
  </fieldset>

  <div class="mt-5 mb-3">
    <div>Logo</div>
    {{#if model.logo}}
      <img src={{model.logo}} alt="" class="img-fluid">
    {{else}}
      <div class="alert alert-dark">This feed has no logo</div>
    {{/if}}
    <div>Icon</div>
    <button type="button" class="btn btn-sm btn-outline-primary" {{action (route-action "reloadFeedIcon")}}>
      {{fa-icon "sync" prefix="fas"}}
    </button>
    {{#if model.icon}}
      <img src={{model.icon}} alt="" width="16">
    {{else}}
      <div class="alert alert-dark">This feed has no icon</div>
    {{/if}}
  </div>

  <fieldset class="mt-5">
    <h4>Danger zone!</h4>
    <div class="form-group">
      <button type="button"
              class="btn btn-outline-danger"
        {{action (route-action "deleteFeed")}}
      >
        Delete Feed
      </button>
    </div>
  </fieldset>
</div>