<div class="p-3">
  <div class="flex row content-between">
    <div>
      <h5 class="p-0 mb-3">Feed Settings</h5>
    </div>
    <div>
      {{#link-to
        "index.feed.articles"
        activeClass=null
        tagName="button"
        classNames="btn btn-outline-secondary round"
      }}
        {{fa-icon "times" prefix="fas"}}
      {{/link-to}}
    </div>
  </div>

  <label>Folder (optional)</label>
  <div class="form-group">
    {{folder-selector
      feed=model
      classNames="custom-select"
    }}
    Selected: {{model.folder.name}}
  </div>

  <fieldset>
    <div class="form-group">
      <label for="name">Name</label>
      {{input
        type="text"
        id="name"
        value=model.name class="form-control"
      }}
    </div>

    <div class="row">
      <div class="form-group col">
        <label for="cleanup-days">Keep articles (days)</label>
        {{input
          value=model.settings.articles.keep
          change=(action (mut model.changed))
          class="form-control"
          type="number"
        }}
      </div>
      <div class="form-group col">
        <div class="custom-control custom-switch">
          {{input
            type="checkbox"
            classNames="custom-control-input"
            id="keep-unread"
            checked=model.settings.articles.cleanup.keepUnread
            change=(action (route-action "toggleKeepUnread"))
          }}
          <label for="keep-unread" class="custom-control-label">Keep unread during cleanup</label>
        </div>
      </div>
    </div>

    <fieldset>
      <label for="">Feed Url</label>
      {{input type="text" value=model.feedUrl classNames="form-control"}}
    </fieldset>
    <div class="mt-3">
      <button
        type="button"
        class="btn btn-outline-secondary"
        {{action (route-action "updateFeed")}}
      >
        Save
        {{#if model.isSaving}}
          {{fa-icon "circle-notch" fixedWith=true}}
        {{/if}}
      </button>
    </div>
  </fieldset>

  <hr class="grey mt-5 mb-5"/>

  <div>
    <div class="flex row content-start align-baseline">
      <h6>Icon</h6>
      <div class="ml-1">
        <button type="button" class="btn btn-sm btn-link round" {{action (route-action "reloadFeedIcon")}}>
          {{fa-icon "sync"
                    spin=feedIconLoadIsRunning
                    fixedWidth=true
          }}
        </button>
      </div>
    </div>
    <div class="mt-1">
      {{#if feedIconLoadIsRunning}}
        <div class="alert alert-info">... fetching ...</div>
      {{else}}
        {{#if model.icon}}
          <div class="alert alert-light">
            <img src={{model.icon}} alt="" width="16">
          </div>
        {{else}}
          <div class="alert alert-warning">This feed has no icon</div>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="mt-3">
    <h6>Logo</h6>
    {{#if model.logo}}
      <img src={{model.logo}} alt="" class="img-fluid">
    {{else}}
      <div class="alert alert-dark">This feed has no logo</div>
    {{/if}}
  </div>

  <hr class="grey mt-5 mb-5"/>

  <fieldset>
    <h4>Danger zone!</h4>
    <div class="form-group">
      <button type="button"
              class="btn btn-outline-danger"
        {{action (route-action "deleteFeed")}}
      >
        Delete Feed
      </button>
    </div>
  </fieldset>
</div>