<div class="d-flex w-100 justify-content-between">
  <h5 class="article-title mb-1">{{article.title}}</h5>
</div>
<p>
{{#if article.categories}}
  <div class="article-categories text-muted">
    [{{join ", " article.categories}}]
  </div>
{{/if}}

{{articleDescription}}
</p>
<div class="btn-group">
  <a href="#" class="btn btn-outline-secondary" {{action (route-action "readAndOpenArticle" article)}}>
    {{fa-icon "expand"}}
  </a>
  <a class="btn btn-outline-secondary"
     href="{{article.url}}" data-content="Open article in new tab"
     target="_blank" {{action "originalArticle" preventDefault=false}}>
    {{fa-icon "external-link"}}
  </a>
  <a class="btn btn-outline-secondary"
     href="mailto:?subject=Article: {{article.title}}&body={{article.title}}%0A%0A{{articleDescription}}%0A%0A{{article.url}}">
    {{fa-icon "share"}}
  </a>
  <a class="btn btn-outline-secondary" data-content="{{readUnreadHint}}" {{action (route-action "read" article)}}>
    {{#if article.read}}
      {{fa-icon "check-circle-o"}}
    {{else}}
      {{fa-icon "circle-o"}}
    {{/if}}
  </a>
  <a class="btn btn-outline-secondary" {{action (route-action "keep" article)}}>
    {{#if article.keep}}
      {{fa-icon "star"}}
    {{else}}
      {{fa-icon "star-o"}}
    {{/if}}
  </a>
</div>
<small>{{moment-format article.updatedDate 'Y-MM-DD HH:mm'}}</small>
