<div class="application">
  {{partial "header"}}
  <div id="content" class="scroll-container">
    <div class="fullpage-column-container">
      <div class="background-container blur"></div>
      <div id="side-bar" class="enabled">
        {{outlet "side-bar"}}
      </div>
      <div id="column-one">
        {{outlet "column-one"}}
      </div>
      <div id="column-two">
        {{outlet "column-two"}}
      </div>
    </div>
    <div id="fullpage-content">
      {{outlet}}
    </div>
  </div>
</div>

{{ember-notify
  messageStyle='bootstrap'
  classPrefix='custom-notify'
  closeAfter=5000
}}