<div class="container-fluid">
  <header>
    <div class="top nav left">
      <a class="navbar-brand" href="/" target="_self">Nextfeed</a>
      {{#if session.isAuthenticated}}
        {{article-search}}
      {{/if}}
      {{outlet "top-bar-left"}}
    </div>
    {{#if session.isAuthenticated}}
      {{#link-to "index" classNames="nav-link" activeClass="active"}}
        Feeds
      {{/link-to}}
      <div class="top nav right">
        <a class="nav-link" href="#" {{action (route-action "updateAllFeeds")}}>
          {{fa-icon 'refresh'}}
        </a>
        {{#link-to "index.settings" classNames="nav-link"}}
          {{fa-icon 'cogs'}}
        {{/link-to}}
        <div class="nav-link">
          {{fa-icon 'user'}}
          {{currentUser.user.fullname}}
          <a class="nav-link" href="#" {{action (route-action "invalidateSession")}}>
            {{fa-icon 'sign-out'}}
          </a>
        </div>
        {{outlet "top-bar-right"}}
      </div>
    {{/if}}
  </header>
  <div id="content" class="col-12">
    {{outlet}}
  </div>
  <div class="row">
    {{#scrollable-container id="side-bar" classNames="col-sm-3 col-12"}}
      {{outlet "side-bar"}}
    {{/scrollable-container}}

    {{#grid-column id="column-one" classNames="col-sm-4 col-12"}}
      {{outlet "column-one"}}
    {{/grid-column}}

    {{#scrollable-container id="column-two" classNames="col-sm-5 col-12"}}
      {{outlet "column-two"}}
    {{/scrollable-container}}
  </div>
</div>