<div class="feed-actions">
  <div class="row flex content-between">
    <div class="left">
      {{#link-to
        "index.add"
        tagName="button"
        activeClass=null
        classNames="btn btn-sm btn-link"
        title="Add feed"
      }}
        <span class="fa-layers fa-fw">
    {{fa-icon "rss"
              class="fa-lg"
              transform="shrink-7"
              mask="circle"
    }}
          {{fa-icon "plus"
                    transform="shrink-10 up-8 right-12"
          }}
    </span>
      {{/link-to}}

      {{#link-to "index.folders.add" activeClass="" classNames=""}}
        <span class="fa-layers fa-fw">
    {{fa-icon "folder"
              class="fa-lg"
              transform="shrink-7"
              mask="circle"
    }}
          {{fa-icon "plus"
                    transform="shrink-10 up-8 right-12"
          }}
    </span>
      {{/link-to}}

      {{#link-to "index.settings"}}
        {{fa-icon "cogs"}}
      {{/link-to}}

    </div>
    {{!--
    <button type="button"
            class="btn btn-sm btn-link"
            title="Fetch new articles">
      {{fa-icon "sync" prefix="fas"}}
    </button>
  --}}
    <div class="ml-auto">
      {{#link-to "index.search"}}
        {{fa-icon "search" class="fa-lg"}}
      {{/link-to}}
    </div>
  </div>
</div>

{{!--
<div class="flex row">
    <div class="text-muted">
      Folders
    </div>
  {{#link-to "index.folders.add" activeClass="" classNames=""}}
    {{fa-icon "plus-circle" prefix="fas"}}
  {{/link-to}}
</div>
--}}

<div class="folders">
  {{#sortable-objects sortableObjectList=sortedFolders sortEndAction=(route-action "sort" sortedFolders)
                      enableSort=true
                      inPlace=true
                      sortingScope="foldersSorting" useSwap=false}}
    {{#each sortedFolders as |folder|}}
      {{#draggable-object content=folder isSortable=true sortingScope="foldersSorting"}}
        {{folder-item folder=folder classNames="folder-item"}}
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
</div>
<div class="folder-item">
  <div class="sidebar-item feed-item">
    {{#link-to "index.feed.articles" "archived"}}
      <div class="flex row content-between feed-item">
        <div>
            <span class="feed-icon">
              {{fa-icon "star" prefix="fas"}}
            </span>
          Archive
        </div>
        <span class="badge badge-secondary">{{starred}}</span>
      </div>
    {{/link-to}}
  </div>

  {{feed-items classNames="feeds" feeds=feeds}}
</div>
