{{#link-to
  "index.feed.articles"
  feed.id
  classNames="flex row"}}
  <span class="feed-icon">
    {{#if feed.icon}}
      <img src="{{feed.icon}}" alt="feed icon">
    {{else}}
      {{fa-icon "rss" prefix="fas"}}
    {{/if}}
  </span>
  <div class="feed name">
    {{feed.name}}
  </div>
  {{#if feed.unreadCount}}
    <div class="feed unread-count">
      <span class="badge badge-secondary">{{feed.unreadCount}}</span>
    </div>
  {{/if}}
{{/link-to}}