{{#link-to
  "index.feed.articles"
  feed.id
  classNames="flex row"}}
  <span class="feed-icon">
    {{#if feed.icon}}
      <img src="{{feed.icon}}" alt="feed icon">
    {{else}}
      {{fa-icon "rss" prefix="fas"}}
    {{/if}}
  </span>
  <span class="feed name">{{feed.name}}</span>
  {{#if feed.unreadCount}}
    <span class="feed unread-count badge badge-secondary">{{feed.unreadCount}}</span>
  {{/if}}
{{/link-to}}