<div class="sidebar-item search">
  <div class="inner-addon right-addon">
    <i class="glyphicon glyphicon-search"></i>
    {{#power-select
      loadingMessage='Searching articles...'
      search=(perform searchArticle)
      selected=selected
      triggerClass="bootstrap-theme-trigger"
      dropdownClass="slide-fade bootstrap-theme-dropdown"
      class="form-group"
      closeOnSelect=false
      allowClear=true
      renderInPlace=true
      onchange=(action "goToArticle") as |article|}}
      <div>
        <h5 class="text-muted">{{article.feed.name}}</h5>
        <div>{{moment-format article.updated_date 'YYYY-MM-DD H:m'}}</div>
        <div>{{article.title}}</div>
      </div>
    {{/power-select}}
  </div>
</div>


<div class="folder-item">
  <div class="folder">
    <span class="text-muted">Articles</span>
  </div>
  <div class="list-group feeds">
    <div class="list-group-item feed-item">
      {{#link-to "feeds.feed.articles" 'archived'}}
        <div class="d-flex justify-content-between">
          <div>
            <span class="feed-icon">
              <i class="fa fa-star"></i>
            </span>
            Archived
          </div>
          <span class="badge badge-secondary">{{starred}}</span>
        </div>
      {{/link-to}}
    </div>
  </div>
</div>

<div class="sidebar-item">
  <div class="d-flex justify-content-start align-items-center">
    <span class="text-muted">
      Folders
    </span>
    <div class="ml-auto">
      {{#link-to "feeds.folders.add" activeClass=""}}
        <i class="fa fa-plus-circle"></i>
      {{/link-to}}
    </div>
  </div>
</div>
<div class="list-group folder-list">
  {{#sortable-objects sortableObjectList=folders sortEndAction=(route-action "sort" folders)
                      sortingScope="foldersSorting" useSwap=false}}
    {{#each folders as |folder|}}
      {{#draggable-object-target action=(route-action "addFeedToFolder" folder)}}
        {{#draggable-object content=feed isSortable=true sortingScope="foldersSorting"}}
          {{folder-item folder=folder classNames="folder-item list-group-item"}}
        {{/draggable-object}}
      {{/draggable-object-target}}
    {{/each}}
  {{/sortable-objects}}
</div>
<div class="folder-item">
  <div class="folder">
    <span class="text-muted">
      Feeds
    </span>
  </div>
  <div class="list-group feeds">
    {{#sortable-objects sortableObjectList=feeds sortEndAction=(route-action "sort" feeds)
                        sortingScope="feedsSorting" useSwap=false}}
      {{#each feeds as |feed|}}
        {{#draggable-object content=feed isSortable=true sortingScope="feedsSorting"}}
          {{feed-item feed=feed classNames="list-group-item feed-item"}}
        {{/draggable-object}}
      {{/each}}
    {{/sortable-objects}}
  </div>
</div>

