<div class="articles">
  <div class="feed-header" id="articles-header">
    <h4>
      <a href="{{feed.siteUrl}}" target="_blank">{{feed.name}}</a>
    </h4>
    <p class="card-text">{{feed.description}}</p>
  </div>

  <div id="article-list-items">
    {{#each model as |article|}}
      {{article-list-item article=article feed=model.feed classNames="article-list-item"}}
    {{/each}}
  </div>
  {{infinity-loader infinityModel=model loadingText="Loading..." scrollable='#article-list-items'}}
</div>



