<div class="articles">
  <div class="feed-header" id="articles-header">
    <h4 class="d-flex justify-content-between">
      <a href="{{feed.siteUrl}}" target="_blank">{{feed.name}}</a>
      <div>
        <span title="Unread" class="badge badge-secondary">{{feed.meta.articles-unread-count}}</span> /
        <span title="Total" class="badge badge-dark">{{feed.meta.articles-count}}</span>
      </div>
    </h4>
    <p class="card-text">{{feed.description}}</p>

    <label for="only-unread">
      {{input id="only-unread" type="checkbox" checked=filterUnread}}
      Unread only
    </label>

    <label for="set-read">
      {{input id="set-read" type="checkbox" checked=filterUnread}}
      Set all read
    </label>

  </div>

  {{#scrollable-container id="article-list-items"}}
    {{#each model as |article|}}
      {{article-list-item article=article feed=model.feed classNames="article-list-item"}}
    {{/each}}
    {{infinity-loader infinityModel=model scrollable='#article-list-items'}}
  {{/scrollable-container}}

</div>



