<div class="card">
  <div class="card-body">
    <hbox align="center" justify="between">
      {{#if model.feed.logo}}
        <img class="img-fluid" src="{{model.feed.logo}}" alt="Feed Logo">
      {{/if}}
      <h4 class="card-title align-self-end">
        <a href="{{model.feed.siteUrl}}" target="_blank">{{model.feed.name}}</a>
      </h4>
    </hbox>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">{{model.feed.description}}</p>
  </div>

  <ul class="list-group article-items mw-100 h-100 list-group-flush">
    {{#each model.articles as |article|}}
      {{article-item article=article tagName="hbox" classNames="list-group-item article-item"}}
    {{/each}}
  </ul>
</div>
