<div class="pull-right">
  {{#link-to onCloseRoute tagName="button" activeClass="" classNames="btn-sm btn btn-outline-secondary"}}
    <i class="fa fa-close"></i>
  {{/link-to}}
</div>

<h3 class="article-header">
  <div>{{article.title}}</div>
  <div class="text-muted">
    <small>{{article.feed.name}}</small>
    {{#if article.author}}
      <small>by {{article.author}}</small>
    {{/if}}
  </div>
</h3>

<div id="article-content">
  {{#if article.scraped}}
    {{article.scraped}}
  {{else}}
    {{content}}
  {{/if}}
</div>

<a class="btn btn-outline-secondary" href="{{article.url}}" target="_blank" {{action (route-action "originalArticle")
                                                                                     preventDefault=false}}
   data-content="Open article in new tab">
  <i class="external icon"></i>
  Open Original Article
</a>
<button class="btn btn-outline-secondary" {{action (route-action "scrapeArticle" article)}} disabled={{scrapeDisabled}}>
  Scrape Article
</button>
