{{scroll-top elementToWatch="column-two"}}

{{#link-to
  onCloseRoute
  activeClass="none"
  classNames="btn btn-outline-secondary"
}}
  {{fa-icon "times" prefix="fas"}}
{{/link-to}}

<h3 class="article-header">
  <div>{{article.title}}</div>
  <div class="text-muted">
    <small>{{article.feed.name}}</small>
    {{#if article.author}}
      <small>by {{article.author}}</small>
    {{/if}}
  </div>
</h3>

<div id="article-content">
  {{#if article.scraped}}
    {{article.scraped}}
  {{else}}
    {{content}}
  {{/if}}
</div>

<div class="flex column">
  <a class="btn btn-outline-secondary"
     href="{{article.url}}"
     target="_blank"
     data-content="Open article in new tab"
    {{action (route-action "originalArticle") preventDefault=false}}
  >
    {{fa-icon "external-link-alt" prefix="fas"}}
    Open article on publisher site
  </a>

  {{#link-to
    onCloseRoute
    activeClass="none"
    classNames="btn btn-outline-secondary"
  }}
    {{fa-icon "arrow-alt-circle-left" prefix="fas"}}
  {{/link-to}}
</div>

{{!--
<button class="btn btn-outline-secondary" {{action (route-action "scrapeArticle" article)}} disabled={{scrapeDisabled}}>
  Scrape Article
</button>
--}}