<header>
  <div class="top nav left">
    <a class="navbar-brand" href="/">Nextfeed</a>

    {{#link-to "feeds" classNames="nav-link" activeClass="active"}}
      Feeds
    {{/link-to}}

    {{outlet "top-bar-left"}}
  </div>

  <div class="top nav right">
    <a class="nav-link" href="#" {{action (route-action "updateAllFeeds")}}>
      {{fa-icon "refresh"}}
    </a>
    {{#link-to "settings" classNames="nav-link"}}
      {{fa-icon "cogs"}}
    {{/link-to}}
    <a class="nav-link" href="#" {{action (route-action "invalidateSession")}}>
      {{fa-icon "sign-out"}}
    </a>
    <div class="nav-link">{{currentUser.user.fullname}}</div>
    {{outlet "top-bar-right"}}
  </div>

</header>

<div id="content">
  {{outlet}}
</div>

{{#side-bar id="side-bar"}}
  {{outlet "side-bar"}}
{{/side-bar}}

{{#grid-column id="column-one"}}
  {{outlet "column-one"}}
{{/grid-column}}

{{#scrollable-container id="column-two"}}
  {{outlet "column-two"}}
{{/scrollable-container}}
