<div class="feed-header" id="articles-header">
  <div class="d-flex justify-content-between">
    <h5>
      <a href="{{feed.siteUrl}}" target="_blank">{{feed.name}}</a>
      <small class="text-muted">{{feed.description}}</small>
    </h5>
    <div>
      <span title="Unread" class="badge badge-secondary">{{feed.unreadCount}}</span>
      <span title="Total" class="badge badge-dark">{{feed.articlesCount}}</span>
    </div>
  </div>
  <div class="btn-toolbar justify-content-between" role="toolbar">
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-secondary" {{action toggleProperty "showFilter"}}>
        {{fa-icon "filter"}}
      </button>
      {{#if showFilter}}
        <div>

        </div>
      {{/if}}
    </div>
    {{#link-to "index" tagName="button" classNames="btn-sm btn btn-outline-secondary"}}
      {{fa-icon "times" size="2x"}}
    {{/link-to}}
  </div>
</div>
<div class="articles" id="article-list">
  {{#each model as |article|}}
    {{article-list-item
      article=article
      classNames="article preview"
      articleRoute=articleRoute
      feed=feed
    }}
  {{/each}}
  {{infinity-loader infinityModel=model scrollable="#article-list"}}
  {{!--
  {{#scrollable-container id="article-list-items"}}
    {{#each model as |article|}}
      {{article-list-item
        article=article
        articleRoute=articleRoute
        feed=feed classNames="article-list-item"
      }}
    {{/each}}
    {{infinity-loader infinityModel=model scrollable='#article-list-items'}}
  {{/scrollable-container}}
  --}}
</div>