<div class="feed-header" id="articles-header">
  <div class="flex row content-between">
    <div>
      <a href="{{feed.siteUrl}}" target="_blank">{{feed.name}}</a>
      <div class="feed description">
        {{feed.description}}
      </div>
    </div>
    <div class="flex row content-between ml-auto">
      <div>
        <button
          type="button"
          class="btn btn-sm btn-link"
          {{action toggleProperty "showFilter" on="click"}}
        >
          {{fa-icon "ellipsis-v" prefix="fas"}}
        </button>
        <span title="Unread" class="badge badge-secondary">{{feed.unreadCount}}</span>
        <span title="Total" class="badge badge-dark">{{feed.articlesCount}}</span>
      </div>
      <div>
        {{#link-to
          "index"
          tagName="button"
          activeClass=null
          classNames="btn btn-sm btn-outline-secondary round ml-1"
        }}
          {{fa-icon "times" prefix="fas"}}
        {{/link-to}}
      </div>
    </div>
  </div>
  <div class="flex row content-between feed-actions" role="toolbar">
    {{#if showFilter}}
      <div class="self-start">
        <button type="button" class="btn btn-sm btn-outline-secondary" {{action
          (action toggleProperty "filterUnread")}}>
          {{#if filterUnread}}
            Show all
          {{else}}
            Hide read
          {{/if}}
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary" {{action (route-action "markAllRead")}}>
          {{fa-icon "check-circle"
                    title="Mark all read"
          }}
        </button>
        {{#link-to
          "index.feed.articles.settings"
          feed
          tagName="button"
          classNames="btn btn-sm btn-outline-secondary"
        }}
          {{fa-icon "cogs"}}
        {{/link-to}}
      </div>
    {{/if}}
  </div>
</div>
<div class="articles" id="article-list">
  {{scroll-top elementToWatch="article-list"}}
  {{#each model as |article|}}
    {{article-list-item
      article=article
      classNames="article preview"
      articleRoute=articleRoute
      feed=feed
    }}
  {{/each}}
  {{infinity-loader infinityModel=model scrollable="#article-list"}}
</div>