<div class="feed-header" id="articles-header">
  <div class="flex row content-between">
    <div>
      <a href="{{feed.siteUrl}}" target="_blank">{{feed.name}}</a>
      <div class="feed description">
        {{feed.description}}
      </div>
    </div>
    <div>
      <span title="Unread" class="badge badge-secondary">{{feed.unreadCount}}</span>
      <span title="Total" class="badge badge-dark">{{feed.articlesCount}}</span>
    </div>
  </div>
  <div class="btn-toolbar flex row content-between" role="toolbar">
    <div class="btn-group-sm">
      <button type="button" class="btn btn-sm btn-link" {{action toggleProperty "showFilter"}}>
        {{fa-icon "ellipsis-v" prefix="fas"}}
      </button>
    </div>
    {{#link-to
      "index"
      tagName="button"
      activeClass=null
      classNames="btn btn-sm btn-outline-secondary"
    }}
      {{fa-icon "times" prefix="fas"}}
    {{/link-to}}
  </div>
  {{#if showFilter}}
    <button type="button"
            class="btn btn-sm btn-outline-secondary"
      {{action (action toggleProperty "filterUnread")}}
    >
      {{#if filterUnread}}
        {{fa-icon "rss" prefix="fas"}} Show all
      {{else}}
        {{fa-icon "rss" prefix="fas"}} Hide read
      {{/if}}
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" {{action (route-action 'markAllRead' feed)}}>
      Mark all read
    </button>
  {{/if}}
</div>
<div class="articles" id="article-list">
  {{scroll-top elementToWatch="article-list"}}
  {{#each model as |article|}}
    {{article-list-item
      article=article
      classNames="article preview"
      articleRoute=articleRoute
      feed=feed
    }}
  {{/each}}
  {{infinity-loader infinityModel=model scrollable="#article-list"}}
  {{!--
  {{#scrollable-container id="article-list-items"}}
    {{#each model as |article|}}
      {{article-list-item
        article=article
        articleRoute=articleRoute
        feed=feed classNames="article-list-item"
      }}
    {{/each}}
    {{infinity-loader infinityModel=model scrollable='#article-list-items'}}
  {{/scrollable-container}}
  --}}
</div>