<div class="articles">
  <div class="feed-header" id="articles-header">
    <div class="d-flex justify-content-between">
      <h5>
        <a href="{{feed.siteUrl}}" target="_blank">{{feed.name}}</a>
        <small class="text-muted">{{feed.description}}</small>
      </h5>
      <div>
        <span title="Unread" class="badge badge-secondary">{{feed.unreadCount}}</span>
        <span title="Total" class="badge badge-dark">{{feed.articlesCount}}</span>
      </div>
    </div>


    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-secondary" {{action (action toggleProperty "filterUnread")}}>
        {{#if filterUnread}}
          Show all
        {{else}}
          Hide read
        {{/if}}
      </button>
      <button type="button" class="btn btn-secondary" {{action (route-action 'markAllRead')}}>
        Mark all read
      </button>
    </div>
    <div class="mobi-close pull-right">
      {{#link-to "index" tagName="button" activeClass="" classNames="btn-sm btn btn-outline-secondary"}}
        <i class="fa fa-close"></i>
      {{/link-to}}
    </div>
  </div>

  {{#scrollable-container id="article-list-items"}}
    {{#each model as |article|}}
      {{article-list-item article=article articleRoute=articleRoute feed=model.feed classNames="article-list-item"}}
    {{/each}}
    {{infinity-loader infinityModel=model scrollable='#article-list-items'}}
  {{/scrollable-container}}

</div>



