<div class="loader">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if infinityModel.reachedInfinity}}
      {{fa-icon "check" prefix="fas" size="2x"}}
      <span>Nothing more to load</span>
    {{else}}
      {{fa-icon "circle-notch" spin=true prefix="fas" size="2x"}}
      <span>Loading...</span>
    {{/if}}
  {{/if}}
</div>
