<div class="input-group mb-3">
  <div class="input-group-prepend">
      <span class="input-group-text">
        {{fa-icon "search" prefix="fas"}}
      </span>
  </div>
  <input
    type="text"
    placeholder="Search articles"
    class="form-control"
    oninput={{perform searchArticle value="target.value"}}
  />
  <div class="input-group-append">
      <span class="input-group-text">
        {{fa-icon
          "circle-notch"
          spin=searchArticle.isRunning
          prefix="fas"
        }}
      </span>
  </div>
</div>

{{#if showResults}}
  {{#scrollable-container id="article-search-result"}}
    <div class="mt-2 mb-3 ml-2">
      <a href="#" class="btn btn-sm btn-outline-secondary" {{action "toggleSearch"}}>
        {{fa-icon 'times'}}
      </a>
    </div>
    <div class="form-group ml-2 mr-2">

    </div>

    {{#each searchArticle.lastSuccessful.value as |article|}}
      <div class="article-result action" {{action "goToArticle" article}}>
        <h5 class="text-muted">{{article.feed.name}}</h5>
        <div>{{moment-format article.updated_date 'YYYY-MM-DD H:m'}}</div>
        <div>{{article.title}}</div>
      </div>
    {{else}}
      <div class="alert alert info">
        No articles found.
      </div>
    {{/each}}
  {{/scrollable-container}}
{{/if}}
