<div class="search-input">
  <div class="input-group">
    <input
      type="text"
      placeholder="Search articles"
      class="form-control"
      oninput={{perform searchArticle value="target.value"}}
    />
    <div class="input-group-append">
      <span class="input-group-text">
        {{fa-icon
          "circle-notch"
          spin=searchArticle.isRunning
          prefix="fas"
        }}
      </span>
    </div>
  </div>
</div>


{{!--{{#scrollable-container id="article-search-result" classNames="p-1"}}--}}
  <div id="article-search-result">
  {{#each searchArticle.lastSuccessful.value as |article|}}
    <div class="article-result action p-1" {{action "goToArticle" article}}>
      <h5 class="text-muted">{{article.feed.name}}</h5>
      <div>{{moment-format article.updated_date 'YYYY-MM-DD H:m'}}</div>
      <div>{{article.title}}</div>
    </div>
  {{else}}
    <div class="alert alert info">
      No articles found.
    </div>
  {{/each}}
  </div>
  {{!--{{/scrollable-container}}--}}
