<div class="articles">
  <div class="feed-header" id="articles-header">
    <h5 class="d-flex justify-content-between">
      <a href="{{feed.siteUrl}}" target="_blank">{{feed.name}}</a>
      <div>
        <span title="Unread" class="badge badge-secondary">{{feed.unreadCount}}</span>
        <span title="Total" class="badge badge-dark">{{feed.articlesCount}}</span>
      </div>
    </h5>
    <p class="card-text">{{feed.description}}</p>

    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-secondary" {{action (action toggleProperty "filterUnread")}}>
        {{#if filterUnread}}
          Show all
        {{else}}
          Hide read
        {{/if}}
      </button>
      <button type="button" class="btn btn-secondary" {{action (route-action 'readAll' feed)}}>
        Mark all read
      </button>
    </div>

  </div>

  {{#scrollable-container id="article-list-items"}}
    {{#each model as |article|}}
      {{article-list-item article=article feed=model.feed classNames="article-list-item"}}
    {{/each}}
    {{infinity-loader infinityModel=model scrollable='#article-list-items'}}
  {{/scrollable-container}}

</div>



