<header>
  <div class="top nav left">
    <a class="navbar-brand" href="/">Nextfeed</a>

    {{#link-to "feeds" tagName="div" classNames="action" activeClass="active"}}
      <a class="nav-link" href="#">Feeds</a>
    {{/link-to}}

    {{outlet "top-bar-left"}}
  </div>

  <div class="top nav right">
    <a class="nav-link" href="#" {{action (route-action "updateAllFeeds")}}>
      {{fa-icon "refresh"}}
    </a>
    {{#link-to "settings" tagName="li" classNames="nav-item"}}
      <a class="nav-link" href="#">{{fa-icon "cogs"}}</a>
    {{/link-to}}
    <a class="nav-link" href="#" {{action (route-action "invalidateSession")}}>
      {{fa-icon "sign-out"}}
    </a>
    {{outlet "top-bar-right"}}
  </div>

</header>

<div id="content">
  {{outlet}}
</div>

<div id="side-bar">
  {{outlet "side-bar"}}
</div>

<div id="column-one">
  {{outlet "column-one"}}
</div>

<div id="column-two">
  {{outlet "column-two"}}
</div>
