<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Nextfeed</a>
    <ul class="navbar-nav mr-auto">
      {{#link-to "feeds" tagName="li" classNames="nav-item" activeClass="active"}}
        <a class="nav-link" href="#">Feeds</a>{{/link-to}}
    </ul>

    {{outlet "top-bar-left"}}

    {{outlet "top-bar-right"}}

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" {{action (route-action "updateAllFeeds")}}>
          {{fa-icon "refresh"}}
        </a>
      </li>
      {{#link-to "settings" tagName="li" classNames="nav-item"}}
        <a class="nav-link" href="#">{{fa-icon "cogs"}}</a>
      {{/link-to}}
      <li class="nav-item">
        <a class="nav-link" href="#" {{action (route-action "invalidateSession")}}>
          {{fa-icon "sign-out"}}
        </a>
      </li>
    </ul>
  </nav>
</header>

<div id="side-bar">
  {{outlet "side-bar"}}
</div>

<div id="content-zone">
  {{outlet "content"}}
</div>

<div id="article">
  {{outlet "article"}}
</div>
