<h6 class="article-title">{{article.title}}</h6>
<div>
  {{#if article.categories}}
    <div class="article-categories text-muted">
      {{#each article.categories as |category|}}
        <span class="badge badge-secondary">{{category.label}}</span>
      {{/each}}
    </div>
  {{/if}}
  <small>{{moment-format article.updatedDate 'Y-MM-DD HH:mm'}}</small>
  <div class="description">
    {{articleDescription}}
  </div>
</div>
<div class="article-list-item-action-container">
  {{#link-to
    "index.feed.articles.article"
    article.id
    classNames="article-list-item-action"
  }}
    {{fa-icon "book-reader" prefix="fas"}}
  {{/link-to}}
  <a class="article-list-item-action"
     href="{{article.url}}"
     data-content="Open article in new tab"
     target="_blank"
    {{action "originalArticle" preventDefault=false}}
  >
    {{fa-icon "external-link-alt" prefix="fas"}}
  </a>
  <a role="button"
     class="article-list-item-action"
     href="mailto:?subject=Article: {{article.title}}&body={{article.title}}%0A%0A{{articleDescription}}
  %0A%0A{{article.url}}"
  >
  {{fa-icon "share-square"}}
  </a>
  <a class="article-list-item-action"
     href="#"
     data-content="{{readUnreadHint}}"
    {{action (route-action "read" article)}}
  >
    {{#if article.read}}
      {{fa-icon "check-circle"}}
    {{else}}
      {{fa-icon "circle" prefix="far"}}
    {{/if}}
  </a>
  <a class="article-list-item-action" href="#" {{action (route-action "keep" article)}}>
    {{#if article.keep}}
      {{fa-icon "star" prefix="fas"}}
    {{else}}
      {{fa-icon "star" prefix="far"}}
    {{/if}}
  </a>
</div>
