<div class="d-flex w-100 justify-content-between">
  <h5 class="article-title mb-1">{{article.title}}</h5>
</div>
<div>
  {{#if article.categories}}
    <div class="article-categories text-muted">
      {{#each article.categories as |category|}}
        <span class="badge badge-secondary">{{category.label}}</span>
      {{/each}}
    </div>
  {{/if}}
  {{articleDescription}}
</div>
<div class="btn-group-sm">
  {{#link-to "index.feed.articles.article" article.id classNames="btn btn-outline-secondary"}}
    {{fa-icon 'expand'}}
  {{/link-to}}
  <a class="btn btn-outline-secondary"
     href="{{article.url}}" data-content="Open article in new tab"
     target="_blank" {{action "originalArticle" preventDefault=false}}>
    {{fa-icon 'link'}}
  </a>
  <a role="button" class="btn btn-outline-secondary"
     href="mailto:?subject=Article: {{article.title}}&body={{article.title}}%0A%0A{{articleDescription}}
  %0A%0A{{article.url}}">
  {{fa-icon 'share'}}
  </a>
  <a class="btn btn-outline-secondary" href="#" data-content="{{readUnreadHint}}" {{action
    (route-action "read" article)}}>
    {{#if article.read}}
      {{fa-icon 'check-circle'}}
    {{else}}
      {{fa-icon 'circle'}}
    {{/if}}
  </a>
  <a class="btn btn-outline-secondary" href="#" {{action (route-action "keep" article)}}>
    {{#if article.keep}}
      {{fa-icon 'star' mask='circle'}}
    {{else}}
      {{fa-icon 'star'}}
    {{/if}}
  </a>
</div>
<small>{{moment-format article.updatedDate 'Y-MM-DD HH:mm'}}</small>
