<div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
      <!--suppress HtmlFormInputWithoutLabel -->
      <select name="protocol" class="custom-select" onchange={{action "setProtocol"}}>
        {{#each protocols as |protocol idx|}}
          {{#if (eq idx selectedProtocol)}}
            <option value={{idx}} selected>{{protocol}}</option>
          {{else}}
            <option value={{idx}}>{{protocol}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
    {{input type="text" enter=(perform discover) placeholder="enter page url" class="form-control" value=url}}
  </div>
</div>

<button class="btn btn-outline-secondary"
        type="button"
        onclick={{perform discover}}
>
  Discover
  {{#if discover.isRunning}}
    {{fa-icon "circle-notch"
              class="fa-fw"
              spin=true}}
  {{/if}}
</button>

{{#if result}}
  <div class="mt-3">
    {{#each result.links as |link|}}
      <div class="discovered-feeds list-group">
        <div
          class="discovered-feed list-group-item list-group-item-action action p-1 flex row content-between"
          {{action "selectLink" link}}
        >
          <div>
            <div>{{link.title}}</div>
            <div>{{link.href}}</div>
            <div>{{link.type}}</div>
          </div>
          {{#if (eq feed.feedUrl link.href)}}
            <div class="text center green bold">
              {{fa-icon "check" prefix="fas"}}
            </div>
          {{/if}}
        </div>
      </div>
    {{else}}
      <div class="alert alert-warning">No feed urls could be found...</div>
    {{/each}}
  </div>
{{/if}}

{{#if errors}}
  <div class="alert alert-danger">
    {{#each errors as |error|}}
      <p>{{error.message}}</p>
    {{/each}}
  </div>
{{/if}}