<div class="folder">
  {{#if folder.open}}
    <span class="icon action" {{action (route-action "closeFolder" folder)}}>
      <i class="fa fa-folder-open-o"></i>
    </span>
  {{else}}
    <span class="icon action" {{action (route-action "openFolder" folder)}}>
      <i class="fa fa-folder-o"></i>
    </span>
  {{/if}}
  {{folder.name}}
  {{#draggable-object-target
    overrideClass="folder-droppable"
    dragOverAction=(action toggleProperty "droppable")
    action=(route-action "addFeedToFolder" folder)
  }}
    {{#if droppable}}
      <i class="fa fa-hand-o-left"></i>

    {{/if}}
  {{/draggable-object-target}}
</div>

{{#if folder.open}}
  {{feed-items feeds=folder.feeds classNames="list-group feeds"}}
{{/if}}


