<h2>Add a feed</h2>
<div class="mb-3">
<div class="form-group">
  <label for="url">Url</label>
  {{input type="text" class="form-control" value=model.discover.url}}
  {{#if model.discover.errors}}
    <div class="alert alert-warning">
      {{#each model.discover.errors as |error|}}
        <p>{{error.title}}</p>
      {{/each}}
    </div>
  {{/if}}
</div>

<button class="btn btn-outline-secondary" type="button" {{action (route-action "discover")}} disabled={{processin}}>
  Discover
</button>
</div>

{{#if processing}}
  <div class="d-flex justify-content-center h-25">
    {{fa-icon "circle-o-notch" spin=true size=2 fixedWith=true}}
  </div>
{{/if}}

{{#if model.discover.feeds}}
  <div class="pb-3">
    <h4>Discovered Feeds</h4>
    <div class="card">
      <div class="card-header">
        Select the feed(s) to subscribe
      </div>

      <div class="list-group">
        {{#each model.discover.feeds as |feed|}}
          <div class="list-group-item">
            <div class="form-group">
              {{#if feed.selected}}
                {{fa-icon "check" fixedWith=true}}
              {{else}}
                {{fa-icon "minus" fixedWith=true}}
              {{/if}}
              <span class="action" {{action "toggleSelectFeed" feed}}>{{feed.url}}</span>
            </div>
            <div class="form-group">
              {{#power-select
                placeholder="Folder"
                classNames="form-control"
                options=model.folders
                selected=feed.folder
                onchange=(action (mut feed.folder)) as |folder|}}
                {{folder.name}}
              {{/power-select}}
            </div>

          </div>
        {{/each}}
      </div>
      <button type="button" class="btn btn-secondary" {{action "subscribe"}}>Subscribe</button>

    </div>
  </div>
{{else}}
  {{#if processed}}
    <div class="alert alert-light" role="alert">
      No feeds could be discovered for the given url.
    </div>
  {{/if}}

{{/if}}

