<div class="ml-auto mt-2">
  {{#link-to "index"
             tagName="button"
             activeClass=null
             classNames="btn btn-sm btn-outline-secondary round"
  }}
    {{fa-icon "times"}}
  {{/link-to}}
</div>

<h3 class="">Add a feed</h3>

<div class="form-group mt-3">
  <label for="feed-folder-select">Create in folder (optional)</label>
  {{folder-selector
    feed=model.feed
    classNames="custom-select"
  }}
</div>

<div class="mb-3">
  <div class="pb-1">
    Discover feed urls from a web site and select the feed-url
  </div>
  {{discover-feed
    feed=model.feed
    onSelect=(route-action "subscribe")
  }}
</div>

<div class="mb-3">
  <label for="feed-url">Feed Url</label>
  {{input type="text"
          value=model.feed.feedUrl
          classNames="form-control"
          id="feed-url"}}
</div>

{{#if model.feed.feedUrl}}
  <div class="form-group mb-3">
    <button type="button"
            class="btn btn-outline-secondary"
            onclick={{action (route-action "subscribe")}}
    >
      Subscribe
    </button>
  </div>
{{/if}}