<h2>Add a feed</h2>

{{#link-to "index"
           tagName="button"
           activeClass=null
           classNames="btn btn-sm btn-outline-secondary mb-4 mt-2"
}}
  {{fa-icon "times" prefix="fas"}}
{{/link-to}}

<div class="form-group">
  <label for="feed-folder-select">Create in folder (optional)</label>
  {{folder-selector feed=model.feed}}
</div>
<div>
  Folder selected:{{model.feed.folder.name}}
</div>

<div class="mb-3">
  <div>
    Discover feed urls from a web site and select the feed-url
  </div>
  {{discover-feed
    feed=model.feed
    onSelect=(route-action "subscribe")
  }}
</div>

<div class="mb-3">
  <label for="feed-url">Feed Url</label>
  {{input type="text"
          value=model.feed.feedUrl
          classNames="form-control"
          id="feed-url"}}
</div>

{{#if model.feed.feedUrl}}
  <button type="button"
          class="btn btn-outline-primary"
          onclick={{action (route-action "subscribe")}}
  >
    Subscribe
  </button>
{{/if}}
