<div class="folder">
  {{#if folder.open}}
    <span class="icon action" {{action (route-action "closeFolder" folder)}}>
      <i class="fa fa-folder-open-o"></i>
    </span>
  {{else}}
    <span class="icon action" {{action (route-action "openFolder" folder)}}>
      <i class="fa fa-folder-o"></i>
    </span>
  {{/if}}
  {{folder.name}}
</div>

{{#if folder.open}}
  <div class="list-group feeds">

    {{#sortable-objects sortableObjectList=folder.feeds sortEndAction=(route-action "sort" folder.feeds)
                        sortingScope="feedsSorting" useSwap=false}}
      {{#each folder.feeds as |feed|}}
        {{#draggable-object content=feed isSortable=true sortingScope="feedsSorting"}}
          {{feed-item feed=feed classNames="list-group-item feed-item"}}
        {{/draggable-object}}
      {{/each}}
    {{/sortable-objects}}
  </div>
{{/if}}


