<div class="folder">
  {{#if folder.open}}
    <span class="icon action" {{action (route-action "closeFolder" folder)}}>
      {{fa-icon "folder-open-o"}}
    </span>
  {{else}}
    <span class="icon action" {{action (route-action "openFolder" folder)}}>
      {{fa-icon "folder-o"}}
    </span>
  {{/if}}
  {{folder.name}}
</div>

{{#if folder.open}}
  <div class="list-group">
    {{#each folder.feeds as |feed|}}
      {{feed-item feed=feed}}
    {{/each}}
  </div>
{{/if}}


